body {
  margin: 0;
  height: 100%;
  padding-top: 160px;
  background-color: #f9f5f6;
  font-family: "KBO-Dia-Gothic_bold", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

/* header */

.header .head #category:hover {
  cursor: pointer;
}

.header {
  z-index: 50;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.header .head {
  padding: 25px;
  background-color: #fa5f56;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.header .head .logo {
  display: flex;
  position: relative;
  align-items: center;
}

.header .head img {
  padding-right: 0.5rem;
  width: 30px;
  height: 30px;
  color: white;
}

.header #category {
  font-size: 25px;
  color: #ffffff;
  position: absolute;
  right: 5%;
}

.logo a {
  font-size: 25px;
  text-decoration: none;
  color: #ffffff;
}

/* menu */

.menu {
  z-index: -1;
  width: 25%;
  display: none;
  top: 83px;
  right: 0;
  overflow: hidden;
  position: fixed;
  animation: animate__fadeInRight;
}

.menu > li {
  width: 100%;
  height: fit-content;
  float: left;
  text-align: center;
  background-color: #fc3a56;
  padding: 0.4rem 0;
}

.menu a {
  color: #ffffff;
}

.submenu > li {
  font-size: 12px;
  line-height: 30px;
  text-align: center;
  width: 100%;
  margin: 0%;
}

.submenu {
  height: 0;
  overflow: hidden;
  background-color: #fa5f56;
}

.menu > li:hover {
  background-color: #fc3a56;
  transition-duration: 0.5s;
}

.menu > li:hover .submenu {
  animation-name: animate__fadeInDown;
  animation-duration: 0.5s;
  width: 100%;
  margin: 0%;
  height: fit-content;
  transition-duration: 1s;
}

.menu .submenu li:hover {
  transition-duration: 0.3s;
  background-color: #f5716a;
}

/* main */

.main {
  background-color: #f9f5f6;
  text-align: center;
  padding: 1rem;
  margin: 0;
  min-height: 100vh;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

/*search*/
.main .search {
  box-sizing: border-box;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin-bottom: 0px;
}

.main .search input {
  font-family: "S-CoreDream-3Light";
  text-align: center;
  width: 60%;
  height: 30px;
}
.main .search #search {
  align-items: center;
}

.main .search #name_search_button {
  align-items: center;
  background-color: #f9f5f6;
  text-align: center;
  font-size: 15px;
  border: none;
}

.main .search #name_search_button:hover {
  cursor: pointer;
}

.main .search .ranking {
  margin-top: 3px;
  margin-bottom: 2rem;
  font-size: 15px;
}

.main .ranking a {
  text-decoration: none;
  color: #333333;
}

.link {
  display: flex;
  text-align: center;
}

.link .linkHospitalBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.link .linkEmergencyBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.link .linkHospital {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 160px;
  margin-left: 5px;
  border: 1px solid #56bbfa;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 4px;
}

.link .linkHospital img {
  box-sizing: border-box;
  width: 20%;
  height: 90%;
  margin-left: 1%;
  border-radius: 10px;
}

.link .linkHospital a {
  text-align: center;
  text-decoration: none;
  color: black;
}

.link .linkHospital:hover {
  border: 3px solid #56bbfa;
  transform: scale(1.01, 1.01);
}

.link .linkHospital:hover a {
  font-weight: bolder;
}

.link .linkEmergency {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 120px;
  margin-left: 5px;
  border: 2px solid #d4441c;
  border-radius: 10px;
  background-color: #ffffff;
  padding: 4px;
}

.link .linkEmergency img {
  box-sizing: border-box;
  width: 20%;
  height: 90%;
  margin-left: 1%;
  border-radius: 10px;
}

.link .linkEmergency a {
  text-align: center;
  text-decoration: none;
  color: #d4441c;
}

.link .linkEmergency:hover {
  border: 3px solid #d4441c;
  transform: scale(1.01, 1.01);
}

.link .linkEmergency:hover a {
  font-weight: bolder;
}

.comment button {
  background-color: white;
  border-radius: 10px;
  border: 2px solid black;
  width: 80px;
  height: 30px;
  margin-top: 4px;
  font-family: "S-CoreDream-3Light";
}

/*list*/
.main .list {
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
}

.main .list .initialScreen {
  background-color: #fff4f4;
  border: 1px solid black;
  border-radius: 25px;
  padding: 5%;
}

.main .list .lst {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: auto;
  margin-bottom: 1.5rem;
  text-align: left;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 3px;
}

.main .list .lst .disease_img {
  width: 25%;
  padding-right: 2.5%;
  border-right: 1px solid black;
}

.main .list .lst .disease_img img {
  width: 100%;
  height: 100%;
}

.main .list .lst .comment {
  width: 70%;
  padding-left: 2.5%;
  margin: auto;
}

.main .list .leftAlign {
  text-align: left;
}

.main .list .listCategory {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

.main .list .listCategory .singleListCategory {
  width: calc(100% / 7);
  margin: 2%;
}

.main .list .listCategory .singleListCategory button {
  width: 100%;
  border: 1px solid #56bbfa;
  border-radius: 20px;
  padding: 15%;
  font-size: 12px;
  background-color: white;
  cursor: pointer;
  font-family: "KBO-Dia-Gothic_bold";
}

.main .list .listCategory .singleListCategory button:hover {
  z-index: -5;
  border: 3px solid #56bbfa;
  font-weight: bolder;
  transform: scale(1.1, 1.1);
}

.main .list .listCategory .singleEmergencyList {
  width: calc(100% / 5);
  margin: 1%;
}

.main .list .listCategory .singleEmergencyList button {
  width: 100%;
  border: 2px solid #d4441c;
  border-radius: 20px;
  padding: 9%;
  background-color: white;
  cursor: pointer;
  font-family: "KBO-Dia-Gothic_bold";
}

.main .list .listCategory .singleEmergencyList button:hover {
  border: 3px solid #d4441c;
  font-weight: bolder;
  transform: scale(1.1, 1.1);
}

.main .list .leftAlign .heartAttackBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main .list .leftAlign .heartAttackBox .heartAttack:hover {
  transform: scale(1.01, 1.01);
  border: 2px solid #f5716a;
}

.main .list .leftAlign .heartAttackBox .heartAttack:hover button {
  font-weight: bolder;
}

.main .list .leftAlign .heartAttackBox .heartAttack {
  display: flex;
  flex-direction: row;
  width: 180px;
  padding: 5px;
  border: 1px solid #f5716a;
  border-radius: 15px;
  background-color: white;
}

.main .list .leftAlign .heartAttackBox .heartAttack img {
  width: 15%;
  border-radius: 10px;
}

.main .list .leftAlign .heartAttackBox .heartAttack button {
  border: none;
  background-color: white;
  width: 85%;
  border-radius: 10px;
}

.main .list .leftAlign .heartAttackBox .heartAttack button a {
  color: black;
}

/* .main .list .leftAlign .includeImg {
  display: flex;
  flex-direction: row;
} */

.main .list .leftAlign .detailImage {
  width: 20%;
}

.main .list .leftAlign .detailImage img {
  width: 100%;
  height: 100%;
}

/* footer */
.footer {
  z-index: -5;
  box-sizing: border-box;
  width: 100%;
  position: relative;
  background-color: #fa5f56;
  text-align: center;
  color: #ffffff;
  align-items: center;
  padding: 30px;
}

@media (min-width: 800px) {
  .header #category {
    display: none;
  }
  ul.menu {
    display: block;
    position: static;
    width: 100%;
    height: auto;
  }
  ul.menu li {
    width: calc(100% / 15);
    text-align: center;
    padding: 0%;
    padding-top: 5px;
    max-height: fit-content;
  }

  ul.submenu li {
    width: 100%;
    font-size: 12px;
  }
}
@media (max-width: 800px) {
  .header #category {
    display: block;
  }
  body {
    padding-top: 120px;
  }
  .header {
    box-shadow: 0px 0px 2px 0px black;
  }
  ul.menu {
    animation-name: animate__fadeInRight;
    animation-duration: 0.5s;
  }

  ul .menu .li {
    max-height: fit-content;
  }

  .link {
    margin-right: 10%;
  }

  .main .list .listCategory .singleListCategory {
    width: calc(100% / 3);
    margin: 1%;
  }

  .main .list .listCategory .singleEmergencyList {
    width: calc(100% / 2);
    margin: 1%;
  }

  .main .list .listCategory {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-left: 0%;
    margin-right: 0%;
  }

  .main .list .lst {
    display: block;
    width: 80%;
    margin: auto;
    margin-bottom: 1.5rem;
    text-align: left;
    padding: 1rem;
    border: 1px solid black;
    border-radius: 3px;
  }

  .main .list .lst .disease_img {
    width: 100%;
    padding-bottom: 1%;
    border-bottom: 1px solid black;
    border-right: 0px;
  }

  .main .list .lst .comment {
    width: 100%;
    padding-top: 1%;
    margin: auto;
  }

  .main .list .leftAlign .detailImage {
    width: 100%;
  }
}

@keyframes animate__fadeInRight {
  from {
    margin-right: -25%;
    width: 25%;
  }

  to {
    margin-left: 25%;
    width: 25%;
  }
}

@keyframes animate__fadeInDown {
  0% {
    opacity: 0%;
    margin-top: -20%;
    width: 100%;
  }

  70% {
    opacity: 60%;
  }

  100% {
    opacity: 100%;
    margin-top: 0%;
    width: 100%;
  }
}

@font-face {
  font-family: "KBO-Dia-Gothic_bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff")
    format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
